name = "pcvct"
uuid = "3c374bc7-7384-4f83-8ca0-87b8c727e6ff"
authors = ["Daniel Bergman <danielrbergman@gmail.com> and contributors"]
version = "0.0.23"

[deps]
AutoHashEquals = "15f4f7f2-30c1-5605-9d31-71845cf9641f"
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
Compat = "34da2185-b29b-5c13-b0c7-acf172513d20"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Downloads = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Glob = "c27321d9-0574-5035-807b-f59d2c89b15c"
GlobalSensitivity = "af5da776-676b-467e-8baf-acd8249e4f0f"
Graphs = "86223c79-3864-5bf0-83f7-82e725a168b6"
JSON3 = "0f8b85d8-7281-11e9-16c2-39a750bddbf1"
LazyGrids = "7031d0ef-c40d-4431-b2f8-61a8d2f650db"
LightXML = "9c8b4983-aa76-5018-a973-4c85ecc9e179"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MAT = "23992714-dd62-5051-b70f-ba57cb901cac"
MetaGraphsNext = "fa8bd995-216d-47f1-8a91-f3b68fbeb377"
PairCorrelationFunction = "1da3c5ec-5de6-497d-83f1-8bbf7fdc92ec"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
PhysiCellCellCreator = "eac91067-0c6e-4a29-b848-3b4e7cf67017"
PhysiCellECMCreator = "515ed340-d2f8-4e13-b70e-c9ebab3e992f"
PhysiCellXMLRules = "bad69253-e2d7-49f9-a0cf-2fd158c7c32b"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
QuasiMonteCarlo = "8a4e6c94-4038-4cdc-81c3-7e6ffdb2a71b"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
SQLite = "0aa819cd-b072-5ff4-a722-6bc24af294d9"
Sobol = "ed01d8cd-4d21-5b2a-85b4-cc3bdc58bad4"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"

[compat]
AutoHashEquals = "2.2.0"
CSV = "0.10"
Compat = "4.16.0"
DataFrames = "1"
Distributions = "0.25"
Downloads = "1"
FFTW = "1"
Glob = "1"
GlobalSensitivity = "2"
Graphs = "1.12.0"
JSON3 = "1.14.1"
LazyGrids = "1"
LightXML = "0.9"
LinearAlgebra = "1.10 - 1"
MAT = "0.10"
MetaGraphsNext = "0.7.2"
PairCorrelationFunction = "0.0.11"
Parameters = "0.12"
PhysiCellCellCreator = "0.0.5"
PhysiCellECMCreator = "0.0.4"
PhysiCellXMLRules = "0.0.8"
Pkg = "1.10.0"
QuasiMonteCarlo = "0.3"
RecipesBase = "1.3.4"
SQLite = "1"
Sobol = "1"
Statistics = "1"
TOML = "1.0.3"
Tables = "1"
julia = "1.6.7"

[extras]
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "Plots"]
